form{
    display: block;
    text-align: center;
}

.buttons{
    display:block;
}

.fields{
    margin: 10px;
}

input.ng-invalid.ng-touched {
    background-color: yellow;
}

.message {
    font-size: 75%;
    color: red;
    margin-left: 5px;
}