<div>
    <h3>Form</h3>
    <form [formGroup]="newCarForm" (ngSubmit)="onSubmit()">
        <div class="fields">
            <div>
                <label for="vendor">vendor</label>
                <input type="text" name="vendor" formControlName="vendor">
                <span class="message"
                    *ngIf="newCarForm.get('vendor')?.invalid && newCarForm.get('vendor')?.touched">
                    Enter valid vendor!</span>
            </div>
            <div>
                <label for="model">model</label>
                <input type="text" name="model" formControlName="model">
                <span class="message" *ngIf="newCarForm.get('model')?.invalid && newCarForm.get('model')?.touched">
                    Enter valid model!</span>
            </div>

            <div>
                <label for="year">year</label>
                <select id="prodYear" name="year" formControlName="year">
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                </select>
            </div>
        </div>
        <div class="buttons">
            <button class="btn" type="reset">clear</button>
            <button class="btn" type="submit">add</button>
        </div>
        <!-- <p *ngIf="!userData.valid && userData.touched">User data is invalid!</p> -->
    </form>
</div>