<div>
    <h3>Form</h3>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div>
            <label for="vendor">vendor</label>
            <input type="text" ngModel name="vendor" required>
        </div>
        <div>
            <label for="model">model</label>
            <input type="text" ngModel name="model" required>
        </div>
        <div>
            <label for="year">year</label>
            <select id="prodYear" ngModel name="year">
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
            </select>
        </div>
        <button type="reset" (click)="onReset()">clear</button>
        <button type="submit" [disabled]="!f.valid">add</button>
    </form>
</div>