.toolbar {
    padding: 0px 20px;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    font-weight: bold;

}

.toolbar a {
    display: flex;
    align-items: center;
    margin: 0;
    color: white;
    font-weight: normal;
}

.toolbar a:hover {
    color: lightblue;
}

.spacer {
    flex-grow: 1;
}

.toolbar img {
    margin: 0 10px;
}

.content {
    border: solid 2px red;
    display: flex;
    flex-direction: row;
    /* margin: 20px 20px; */
    padding: 6px;
    /* max-width: 960px; */
    align-items: left;
}

.column {
    border: solid 2px white;
    margin: 6px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    flex: 1
}

.form {
    border: solid 2px green;
    flex: 2;
}

.search {
    border: solid 2px green;
    flex: 4;
}

.preview {
    border: solid 2px green;
    flex: 3;
}

.customize {
    border: solid 2px green;
    flex: 3;
}
