

.content {
    display: flex;
    flex-direction: row;
    padding: 6px;
    align-items: left;
    max-width: 1400px;
    margin: auto;
}

.column {
    border: solid 2px red;
    margin: 6px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form {
    border: solid 2px green;
    flex: 2;
}

.search {
    border: solid 2px green;
    flex: 4;
}

.preview {
    border: solid 2px green;
    flex: 3;
}

.customize {
    border: solid 2px green;
    flex: 3;
}

