<div class="toolbar">
  <img src="../assets/image/sports-car.png" alt="car logo" width="32" height="32">
  <span>Super Cars Application</span>
  <span class="spacer"></span>
  <a href="mailto: example@gmail.com">
    <img src="../assets/image/email.png" alt="email icon" width="32" height="32">
    <!-- <span>Send email</span> -->
  </a>
</div>
<div class="content">
  <div class="column">
    left column
    <div class="form">
      <h3>Form</h3>
      <p>Velit reprehenderit irure nisi esse. Et dolore dolore amet nulla et dolore. Laborum magna duis pariatur minim
        fugiat
        commodo id nisi aute ullamco elit sint adipisicing fugiat. Mollit in dolor eu et est consequat ea cillum do qui.
        Proident qui est quis veniam nisi do dolor fugiat proident dolor commodo culpa. Excepteur eiusmod ad in
        excepteur dolor
        in ut tempor dolor.
      </p>
    </div>
    <div class="search">
      <h3>Search List</h3>
      <p>Velit reprehenderit irure nisi esse. Et dolore dolore amet nulla et dolore. Laborum magna duis pariatur minim
        fugiat
        commodo id nisi aute ullamco elit sint adipisicing fugiat. Mollit in dolor eu et est consequat ea cillum do qui.
        Proident qui est quis veniam nisi do dolor fugiat proident dolor commodo culpa. Excepteur eiusmod ad in
        excepteur dolor
        in ut tempor dolor.
        commodo id nisi aute ullamco elit sint adipisicing fugiat. Mollit in dolor eu et est consequat ea cillum do qui.
        Proident qui est quis veniam nisi do dolor fugiat proident dolor commodo culpa. Excepteur eiusmod ad in
        excepteur dolor
        in ut tempor dolor.
        commodo id nisi aute ullamco elit sint adipisicing fugiat. Mollit in dolor eu et est consequat ea cillum do qui.
        Proident qui est quis veniam nisi do dolor fugiat proident dolor commodo culpa. Excepteur eiusmod ad in
        excepteur dolor
        in ut tempor dolor.
      </p>
    </div>
  </div>
  <div class="column">
    right column
    <div class="preview">
      <h3>Preview</h3>
      <p>Velit reprehenderit irure nisi esse. Et dolore dolore amet nulla et dolore. Laborum magna duis pariatur minim
        fugiat
        commodo id nisi aute ullamco elit sint adipisicing fugiat. Mollit in dolor eu et est consequat ea cillum do qui.
        Proident qui est quis veniam nisi do dolor fugiat proident dolor commodo culpa. Excepteur eiusmod ad in
        excepteur dolor
        in ut tempor dolor.
      </p>
    </div>
    <div class="customize">
      <h3>Customize</h3>
      <p>Velit reprehenderit irure nisi esse. Et dolore dolore amet nulla et dolore. Laborum magna duis pariatur minim
        fugiat
        commodo id nisi aute ullamco elit sint adipisicing fugiat. Mollit in dolor eu et est consequat ea cillum do qui.
        Proident qui est quis veniam nisi do dolor fugiat proident dolor commodo culpa. Excepteur eiusmod ad in
        excepteur dolor
        in ut tempor dolor.
      </p>
    </div>
  </div>
</div>